dist-newstyle/
.stack-work/
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
.ghc.environment.*
.HTF/
.hie/
.direnv/
*.exe
*~
*.swp
src/Main.exe
